h1 {
	color: darkviolet;
	font-size: 4rem;
	margin-bottom: 1em;
}

.containers {
	width: 900px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 1em;
}