* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A3D2FD;
  /*text-align: center;*/
  padding: 5em;

  font-family: "HoloLens MDL2 Assets", sans-serif;
}